@media (max-width: 576px) {
  .menus {
    display: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .menus {
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .menus {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}
