body {
  font-family: "Open Sans", sans-serif;
}
a {
  color: #14c871;
}

a:hover {
  color: #206bfb;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #16df7e;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #206bfb;
  color: #fff;
}

header {
  background-image: linear-gradient(
    180deg,
    #0c5077 0%,
    #2f80ed 100%,
    #000000 100%,
    #ffffff 100%
  );
}
.section-header img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.section-header h1 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}

.menus {
  position: absolute;
  top: 284px;
  width: 100%;
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
  background-color: white;
  z-index: 3000;
}

.menus.sticky {
  position: fixed;
  top: 50px;

  border-top: none;
  background: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}
#header {
  z-index: 997;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: -230px;
  width: 100%;
}
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #5f687b;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #14c871;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #5f687b;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #14c871;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

.carousel-item {
  /* height: 100vh; */
  /* min-height: 500px;
  background: no-repeat scroll center scroll; */
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.4;
}
.carousel-caption {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5 {
  font-size: 80px;
  font-weight: 700;
}
.carousel-caption p {
  font-size: 18px;
  top: 2rem;
}

/* LINK TERKAIT */
.section-link h5 {
  font-size: 28px;
  font-weight: 700;
}
/* LINK TERKAIT */

/* NEWS */
.section-news h5 {
  font-size: 28px;
  font-weight: 700;
}
/* NEWS */
/* GALERY */
.section-galery h5 {
  font-size: 28px;
  font-weight: 700;
}
.component-news {
  margin-bottom: 20px;
}

.component-news:hover {
  text-decoration: none;
}

.component-news .news-thumbnail {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.component-news .news-thumbnail:hover .news-image,
.component-news .news-thumbnail:focus .news-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.component-news .news-thumbnail .news-image {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news-thumbnail {
  position: relative;
}

.news-thumbnail a {
  position: absolute;
  top: 0;
  bottom: 8px;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.9s;
}

.news-thumbnail:hover a {
  opacity: 1;
} /* GALERY*/

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 16px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ffffff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #5f687b;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #16df7e;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(73, 80, 94, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
