body {
  font-family: "Open Sans", sans-serif;
}
a {
  color: #14c871;
}

a:hover {
  color: #206bfb;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #16df7e;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #206bfb;
  color: #fff;
}

header {
  background-image: linear-gradient(
    180deg,
    #0c5077 0%,
    #2f80ed 100%,
    #000000 100%,
    #ffffff 100%
  );
}
.section-header img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.section-header h1 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}

.menus {
  position: absolute;
  top: 284px;
  width: 100%;
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
  background-color: white;
  z-index: 3000;
}

.menus.sticky {
  position: fixed;
  top: 50px;

  border-top: none;
  background: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}
#header {
  z-index: 997;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: -230px;
  width: 100%;
}
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #5f687b;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #14c871;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #5f687b;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #14c871;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

.carousel-item {
  /* height: 100vh; */
  /* min-height: 500px;
  background: no-repeat scroll center scroll; */
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.4;
}
.carousel-caption {
  bottom: 180px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5 {
  font-size: 80px;
  font-weight: 700;
}
.carousel-caption p {
  font-size: 18px;
  top: 2rem;
}

/* LINK TERKAIT */
.section-link h5 {
  font-size: 28px;
  font-weight: 700;
}
/* LINK TERKAIT */

/* NEWS */
.owl-controls .owl-buttons {
  position: relative;
}

.owl-controls .owl-prev {
  position: absolute;
  left: -40px;
  bottom: 230px;
  padding: 8px 17px;
  background: #26ccca;
  border-radius: 50px;
  transition: 0.5s;
}

.owl-controls .owl-next {
  position: absolute;
  right: -40px;
  bottom: 230px;
  padding: 8px 17px;
  background: #26ccca;
  border-radius: 50px;
  transition: 0.5s;
}

.owl-controls .owl-prev:after,
.owl-controls .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #fff;
  font-size: 16px;
}

.owl-controls .owl-next:after {
  content: "\f105";
}

.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
  background: #000;
}

/* NEWS */
.section-news h5 {
  font-size: 28px;
  font-weight: 700;
}
.news-grid {
  width: auto;
  position: relative;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ddd; /*box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);*/
  margin: 10px;
}

.news-grid-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.news-grid-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.news-grid-box {
  display: block;
  position: absolute;
  text-align: center;
  background: #26ccca;
  left: -80px;
  top: 15px;
  padding: 10px;
  transition: 0.5s;
}

.news-grid-box h1 {
  color: #fff;
  font-size: 30px;

  letter-spacing: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 5px;
}

.news-grid-box p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}

.news-grid-txt {
  padding: 25px;
}

.news-grid-txt span {
  color: #26ccca;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.news-grid-txt h2 {
  color: #111;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 10px 0px 5px 0px;
}

.news-grid-txt ul {
  padding: 0;
  margin: 0;
}

.news-grid-txt ul li {
  list-style: none;
  display: inline-block;
  color: #999;
  font-size: 14px;
  font-weight: 300;
  margin: 8px 10px 8px 0px;
  letter-spacing: 1px;
}

.news-grid-txt ul li i {
  color: #26ccca;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
}
.news-over {
  overflow: hidden;
  height: 70px;
  margin-bottom: 15px;
}
.news-grid-txt p {
  color: #222;
  font-size: 14px;
  font-weight: 100;
  text-align: justify;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.news-grid-txt a {
  color: #fff;
  background: #26ccca;
  margin-top: 50px;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration-line: none;
  transition: 0.5s;
}

/*Hover-Section*/
.news-grid:hover .news-grid-box {
  left: 15px;
  transition: 0.5s;
}

.news-grid:hover .news-grid-image img {
  filter: grayscale(1);
  transform: scale(1.1);
  transition: 0.5s;
}

.news-grid:hover .news-grid-txt a {
  text-decoration-line: none;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.5s;
}
/* NEWS */
/* GALERY */
.section-galery .row-galery {
  height: 340px;
  overflow: hidden;
}
.section-galery h5 {
  font-size: 28px;
  font-weight: 700;
}
.component-news {
  margin-bottom: 20px;
}

.component-news:hover {
  text-decoration: none;
}

.component-news .news-thumbnail {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.component-news .news-thumbnail:hover .news-image,
.component-news .news-thumbnail:focus .news-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.component-news .news-thumbnail .news-image {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news-thumbnail {
  position: relative;
}

.news-thumbnail a {
  position: absolute;
  top: 0;
  bottom: 8px;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.9s;
}

.news-thumbnail:hover a {
  opacity: 1;
} /* GALERY*/

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 16px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ffffff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #5f687b;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #16df7e;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(73, 80, 94, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.section-sejarah {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}
